<div>
    <div class="row">
        <form novalidate>
            <div class="col-md-7">
                <div class="input-field row">
                    <div class="col-md-12">
                        <input id="title" class="validate" type="text" ng-model="postCtrl.post.title" />
                        <label for="title">Title</label>
                    </div>
                </div>

                <div class="input-field row">
                    <div class="col-md-12">
                        <textarea id="content" class="materialize-textarea" type="text" ng-model="postCtrl.post.content"></textarea>
                        <label for="content">Post</label>
                    </div>
                </div>

                <div ng-show="eventImageUpload">
                    <input class="file" type="file" file-model="myFile" name="myFile" />
                    <button ng-click="uploadFile()" class="btn btn-default">Upload</button>
                </div>
                <br>
                <div ng-show="!eventImageUpload">
                    <button ng-click="postCtrl.getPost(); eventHandler()" ng-show="!eventPostButton" class="btn btn-primary">Post</button>
                    <span ng-show="eventPostButton">
                        <div class="preloader-wrapper small active">
                            <div class="spinner-layer spinner-green-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div>
                                <div class="gap-patch">
                                    <div class="circle"></div>
                                </div>
                                <div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>