<style>
    .glyphicon-refresh-animate {
        -animation: spin .7s infinite linear;
        -webkit-animation: spin2 .7s infinite linear;
    }

    @-webkit-keyframes spin2 {
        from {
            -webkit-transform: rotate(0deg);
        }
        to {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        from {
            transform: scale(1) rotate(0deg);
        }
        to {
            transform: scale(1) rotate(360deg);
        }
    }
</style>

<div>
    <div class="row">
        <form novalidate>
            <div class="col-md-7">
                <div class="form-group row">
                    <div class="col-md-12">
                        <input class="form-control" type="text" ng-model="postCtrl.post.title" placeholder="Title" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-12">
                        <textarea class="form-control" type="text" ng-model="postCtrl.post.content" placeholder="Post"></textarea>
                    </div>
                </div>

                <div ng-show="eventImageUpload">
                    <input class="file" type="file" file-model="myFile" name="myFile" />
                    <button ng-click="uploadFile()" class="btn btn-default">Upload</button>
                </div>
                <br>
                <div ng-show="!eventImageUpload">
                    <button ng-click="postCtrl.getPost(); eventHandler()" ng-show="!eventPostButton" class="btn btn-primary">Post</button>
                    <button ng-show="eventPostButton" class="btn btn-primary"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>Post</button>
                </div>
            </div>

        </form>
    </div>
</div>