<style>
    .breadcrumb>li+li:before {
        color: #CCCCCC;
        content: "// ";
        padding: 0 5px;
    }
</style>

<ol class="breadcrumb">
    <li class="active"><a href="" ng-click="frndCtrl.myFrnds()">Friends</a></li>
    <li><a href="" ng-click="frndCtrl.frndRequests()">Requests</a></li>
    <li><a href="" ng-click="frndCtrl.getUsers()">Search Friends</a></li>
</ol>
</br>

<div ng-if="frndCtrl.myFriends != null" ng-repeat="frnds in frndCtrl.myFriends">
    <div class="thumbnail row" ng-if="frnds.status == 'accepted'">
        <div class="col-sm-5">
            <img src="{{frndCtrl.imgPath}}/{{frnds.frndId}}.jpg" alt="{{frnds.name}}" class="img-circle" height="50" width="50" >
        </div>
        <div class="col-sm-7">
            <h3>{{frnds.name}}</h3>
        </div>
    </div>
</div>

<div ng-if="frndCtrl.friends != null" ng-repeat="frnds in frndCtrl.friends">
    <div class="thumbnail row" ng-if="frnds.status == 'requested'">
        <div class="col-sm-5">
            <img src="{{frndCtrl.imgPath}}/{{frnds.frndId}}.jpg" alt="{{frnds.name}}" class="img-circle" height="50" width="50" >
        </div>
        <div class="col-sm-4">
            <h3>{{frnds.name}}</h3>
        </div>
        <div class="col-sm-3">
            <i><a href="" 
        ng-click="frndCtrl.accept(frnds.id)" class = "btn btn-default">Accept</a></i>
        </div>
    </div>
</div>
<div ng-if="frndCtrl.users != null">
    <table id="userListTable" class="table table-hower">
        <thead>
            <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Phone</th>
                <th>E-Mail</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in frndCtrl.users">
                <td>{{user.name}}</td>
                <td>{{user.username}}</td>
                <td>{{user.phone}}</td>
                <td>{{user.email}}</td>
                <td><a class="btn btn-primary" href="" ng-click="frndCtrl.sendRequest(user.id)">Send Request</a></td>
            </tr>

        </tbody>
    </table>
</div>